{{! prettier-ignore }}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>WiFi Portal Admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link href="/md-icons.min.css" rel="stylesheet" />

    <script src="/public/js/jquery-3.6.1.min.js"></script>
  </head>
  <body class="bg-blue-500">
    <!-- make div which hold background image semi-transparent and full screen size -->
    <div class="bg-auto bg-center bg-opacity-25 fixed w-full h-full -z-0
      overflow-auto">
      <div style="background-image: url('/images/bg-portal.jpeg')" class="h-full
        w-full opacity-75 fixed" />
      </div>


      <div class="container mx-auto p-8 md:p-16 max-w-screen-xlg opacity-100
        z-10
        relative overflow-auto">
        <!-- create a card with tailwind -->
        <div class="bg-white rounded-lg shadow-2xl p-4">
          <h1 class="text-2xl font-bold mb-6">Welcome!</h1>

          {{!-- foreach client in clients --}}
          <div class="flex flex-col">
            {{#each clients}}
            <!-- ignore if no user is found -->
            {{#if user}}
            {{!-- create a stacked list With right-justified second column --}}
            <div class="flex flex-col md:flex-row justify-between my-2 p-6
              bg-white border border-gray-200 rounded-lg shadow-md
              dark:bg-gray-800 dark:border-gray-700">
              <div class="flex flex-col w-full">
                <div>
                  <span class="text-lg font-bold text-blue-800">
                    {{user.fullname}}
                  </span>
                  as {{user.username}}
                </div>
                {{#if last_seen}}
                <div class="text-sm text-gray-600 dark:text-gray-400">
                  Last seen: {{dateTime last_seen}}
                </div>
                {{/if}}
                {{#if (eq status 'online')}}
                <div class="text-gray-600 dark:text-gray-400 text-sm">
                  <i class="mdi mdi-lan-connect text-lg"></i>
                  They are currently connected to: <strong>{{essid}}</strong>
                  and have been for
                  {{formattedDuration uptime}}
                </div>
                {{else}}
                <div class="text-sm">
                  <i class="mdi mdi-lan-disconnect text-lg"></i>
                  <span class="text-red-600 dark:text-red-400 italic">They are
                    currently offline</span>
                </div>
                {{/if}}
                <div class="text-sm font-light text-gray-700">
                  Started at {{dateTime start}}
                </div>
                <div class="text-sm font-light text-gray-700">
                  {{#if expired}}
                  <span class="text-red-500">Expired {{dateRelative end}}</span>
                  {{else}}
                  <span class="text-green-700">Active until {{dateTime end}}</span>
                  {{/if}}
                </div>

                <form action="/admin-sta-actions" method="POST">
                  <div class="flex flex-row justify-start mt-4 max-w-sm
                    text-sm flex-wrap">
                    <button type="submit" class="flex flex-row items-center m-1
                      justify-center px-4 py-2 bg-blue-500 text-white
                      rounded-md hover:bg-blue-600 focus:outline-none
                      focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                      name="action" value="renew">
                      <i class="mdi mdi-autorenew"></i>
                      <span class="ml-2">Renew/Allow</span>
                    </button>
                    <button type="submit" class="flex flex-row items-center m-1
                      justify-center px-4 py-2 bg-yellow-500 text-white
                      rounded-md hover:bg-yellow-600 focus:outline-none
                      focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-75
                      text-sm"
                      name="action" value="kick">
                      <i class="mdi mdi-logout"></i>
                      <span class="ml-2">Disconnect (1 day)</span>
                    </button>
                    {{#if blocked}}
                    <button type="submit" class="flex flex-row items-center m-1
                      justify-center px-4 py-2 bg-green-500 text-white
                      rounded-md hover:bg-green-600 focus:outline-none
                      focus:ring-2 focus:ring-green-400 text-sm
                      focus:ring-opacity-75" name="action"
                      value="unblock">
                      <i class="mdi mdi-lock-open"></i>
                      <span class="ml-2">Unblock</span>
                    </button>
                    {{else}}
                    <button type="submit" class="flex flex-row items-center m-1
                      justify-center px-4 py-2 bg-red-500 text-white
                      rounded-md hover:bg-red-600 focus:outline-none
                      focus:ring-2 focus:ring-red-400
                      focus:ring-opacity-75" name="action"
                      value="block">
                      <i class="mdi mdi-lock"></i>
                      <span class="ml-2">Block (permanently)</span>
                    </button>
                    {{/if}}
                  </button>
                </div>
                <input type="hidden" name="mac" value="{{mac}}" />
              </form>
            </div>
            <div class="flex flex-col w-60 flex-shrink-0">
              <div class="text-lg font-bold text-blue-800">IP:
                {{#unless ip}} N/A
                {{else}} {{ip}}
                {{/unless}}
              </div>
              <div class="text-sm font-light text-gray-700">{{{macCode mac}}}</div>
              <div class="text-sm font-light text-gray-700">
                Data Usage:
                <span>{{{rx}}}</span>
                <span class="-m-3">{{{tx}}}</span>
                <span class="m-2">
                  {{numberToBytes bytes}}
                </span>
                <br class="text-base" />
                <!-- TX is the received data by the client from the internet-->
                <!-- RX is the sent data by the client to the internet-->
                {{{rx}}}{{numberToBytes tx_bytes}} / {{{tx}}}{{numberToBytes
                rx_bytes}}
              </div>
            </div>
          </div>
          {{else}}
          MISSING DATA FOR: {{{macCode mac}}}
          {{/if}}
          {{#if debug}}
          <div class="text-xs">{{{json this}}}</div>
          {{/if}}
          {{/each}}
          {{!-- end foreach --}}
        </div>
      </div>

      <!-- use footer partial -->
      {{!-- {{> footer }} --}}
    </div>
    <script>

    // make API POST calls to /admin-sta-actions
    // with action and mac as parameters
    // to renew, kick, block, or unblock a client
    // then reload the page
    const forms = document.querySelectorAll('form');
    forms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(form);
        const action = event.submitter.value;
        const mac = formData.get('mac');

        fetch('/admin-sta-actions', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            action,
            mac
          })
        }).then(() => {
          location.reload();
        }).catch(err => {
          console.error(err);
        });
      });
    });

    </script>
  </body>
</html>